* {
    box-sizing: border-box;
}
body {
    background-color: limegreen;
}

.pokedex_logo {
    text-align: center;
}

.pokemon-list {
    list-style-type: none;
}

.button-class {
    background-color: yellow;
    color: black;
    font-size: 18px;
    text-align: center;
    border: solid 2.5px darkblue;
    padding: 5px;
    margin: 5px;
}

/* responsive for all devices */
@media all and (max-width: 500px) {
    /* small devices */
    .grid {
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    /* medium devices */
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    /* shared code for above media queries */
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
}